{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "useTabs": false, 
  "printWidth": 80,
  "tabWidth": 2,   
  "jsxBracketSameLine": true, 
  "parser": "flow",
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    }
  ]
}
