.mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  height: 100vh;
  width: 5rem;
  background: green;
  padding: 1.5rem;

  nav {
    height: 100%;
    width: 100%;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
